<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Notes" alt=""></td>
        <td><a href="{{site.baseurl}}/csa/frqnotes/home">Home</a></td>
        <td><a href="{{site.baseurl}}/csa/frqnotes/methods-control">Methods & Control Structures</a></td>
        <td><a href="{{site.baseurl}}/csa/frqnotes/class-implementation">Class Implementation</a></td>
        <td><a href="{{site.baseurl}}/csa/frqnotes/arrays">Arrays/ArrayLists</a></td>
        <td><a href="{{site.baseurl}}/csa/frqnotes/2darray">2D Arrays</a></td>
    </tr>
</table>