<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Notes" alt=""></td>
        <td><a href="{{site.baseurl}}/csa/notes/home">Home</a></td>
        <td><a href="{{site.baseurl}}/csa/notes/unit1">Unit 1</a></td>
        <td><a href="{{site.baseurl}}/csa/notes/unit2">Unit 2</a></td>
        <td><a href="{{site.baseurl}}/csa/notes/unit3">Unit 3</a></td>
        <td><a href="{{site.baseurl}}/csa/notes/unit4">Unit 4</a></td>
        <td><a href="{{site.baseurl}}/csa/notes/unit5">Unit 5</a></td>
        <td><a href="{{site.baseurl}}/csa/notes/unit6">Unit 6</a></td>
        <td><a href="{{site.baseurl}}/csa/notes/unit7">Unit 7</a></td>
        <td><a href="{{site.baseurl}}/csa/notes/unit8">Unit 8</a></td>
        <td><a href="{{site.baseurl}}/csa/notes/unit9">Unit 9</a></td>
    </tr>
</table>